Options -Indexes

RewriteEngine on
#Cambiar a dominio oficial
ErrorDocument 404 localhost/CPI-seguridad/

# URL AMIGABLES
Options     +FollowSymLinks 
RewriteEngine on
# RewriteBase     /
# CONDICIONES
#RewriteCond     %{REQUEST_FILENAME}     !-f
#RewriteCond     %{REQUEST_FILENAME}     !-d
# REGLAS
	#Rewriterule ^categoria/(.+) categorias.php?tipo=$1
	Rewriterule ^inicio index.php
	Rewriterule ^nosotros nosotros.php
	Rewriterule ^reclutamiento reclutamiento.php
	Rewriterule ^contacto/(.+) contacto.php?ciudad=$1
	Rewriterule ^contacto contacto.php
	Rewriterule ^aviso-de-privacidad avisoprivacidad.php
	
	