/* - - - - - - - - - - - - - - - 
CSS para pantallas 1600px
Desarrollado por: CAMBIAR
Para: CAMBIAR
Fecha: CAMBIAR
Ultima modificación por: CAMBIAR
Fecha: CAMBIAR
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */


#welcome{
	height:1080px;
	}
.arrows{
	height:500px;}
	
.lista-ciudades p{    
	padding: 12% 3%;}	